
@{
    ViewData["Title"] = "Mian";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<h2>Mian</h2>

<div data-bind='component: {
     name: componentName,
     params:params
}'></div>
@section Scripts {
    <script src="/js/require.js" data-main="/js/main.js"></script>
}